:root {
  --vp-c-brand: #1d75a4;
  --vp-c-brand-light: #1d75a8;
  --vp-c-brand-dark: #1d75a4;
  --vp-button-brand-bg: #1d75a4;
  --vp-button-brand-border: #1d75a4;
  --vp-button-brand-hover-border: #1d75a8;
  --vp-button-brand-active-border: #1d75a8;
  --vp-link-color: #1d75a4;
  --vp-link-color-hover: #145b7e;
}
